* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 20px 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    color: gold;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}

.shert {
    background-color: crimson;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.shert img {
    width: 100%;
    border-radius: 10px;

}

.shert h3 {
    color: gold;
    margin-bottom: 15px;
}

.shert button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: gold;
    cursor: pointer;
    border-radius: 20px;
}

.shert button:hover {
    color: white;
}

.shert :hover {
    transform: translateY(-10px);
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}